
*.uasset
.idea/*
.vs/*
Build/*
Binaries/*
Content/*
Intermediate/*
Platforms/*
Plugins/MultiplayerSessions/Binaries/*
Plugins/MultiplayerSessions/Intermediate/*
Plugins/MultiplayerSessions/Resources/*
Saved/*